<div class="container">
    <h1>{{title}}</h1>
    <hr>
    <h3>Sobre {{title}}</h3>
    <p>{{description}}</p>
    <hr>
    <h4>Especificaciones</h4>
    <p>Autor/a: {{author}}</p>
    <p>Puntuación: {{rating}}/10</p>
    <hr>
    <a href="/libros" class="btn btn-dark">Volver al listado</a>
</div>